@import 'colors';
@import 'fonts';

header {
    background-image: url(/public/img/header.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 161px;

    nav {
        height: 100px;
        align-content: center;
    }

    .wrapper {
        overflow: hidden;

        .block__row {
            display: flex;
            justify-content: space-between;

            border: 10px solid lightblue;
            margin: 0 0 10px 0;
        }

        .block__column {
            border: 10px solid darkcyan;
        }

        .block__item {
            // background-color: lightgreen;
            color: white;
            // padding: 15px;
            text-align: center;
        }

        .right {
            display: flex;
            width: 35%;
            justify-content: end;

            .block__item {
                display: inherit;
                color: white;
                width: 50%;
                span {
                    align-self: center;
                }
                p {
                    margin: 0;
                }
                text-align: start;
            }
        }

        .center {
            width: 30%;
        }

        .left {
            width: 35%;
        }
    }
}
