@import 'colors';
@import 'fonts';

header {
    background-image: url(/public/img/header.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 161px;

    div {
        background-color: $color-secondary;
        width: 100%;
        height: 100px;
        position: relative;
    }

    nav {
        height: 100px;
        align-content: center;
    }
}
